<!DOCTYPE html>
<html lang="en">
<style>
	table, th, td {
		border:1px solid black;
	}
</style>

<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %} - FlaskApp</title>
	<style>
		nav a {
			color: #d64161;
			font-size: 3em;
			margin-left: 50px;
			text-decoration: none;
		}
	</style>
<head>

<body>
	<nav>
		<a href="http://127.0.0.1:5000">Student List</a>
		<a href="http://127.0.0.1:5000/create">Add</a>
	<nav>
	<hr>
	<div class="content">
		{% block content %} {% endblock %}
	</div>
</body>
</html>
