{% extends 'base.html' %}

{% block content %}
	<h1> {% block title %} Edit <q>{{ post['ID'] }}</q> {% endblock %}</h1>

	<form method="post">
		<label for="Student">Student</label>
		<br>
		<input type="text" name="Student" placeholder="Student's name"
			value="{{ request.form['Student'] or post['Student'] }}"></input>
		<br>

		<label for="ID">ID</label>
		<br>
		<input type="number" name="ID" placeholder="Student's ID"
			value="{{ request.form['ID'] or post['ID'] }}"></input>
		<br>

		<label for="Score">Score</label>
		<br>
		<input type="number" name="Score" placeholder="Student's score"
			value="{{ request.form['Score'] or post['Score'] }}"></input>
		<br>
		<button type="submit">Submit</button>
	</form>

	<hr>
	<form action="http://127.0.0.1:5000/{{post['ID']}}/delete" method="POST">
		<input type="submit" value="Delete"
			onclick="return confirm('Are you sure you want to delete this post?')">
	</form>
{% endblock %}
